<script type="text/html" data-template-name="hand-3d-viewer">
    <div class="form-row">
        <label for="node-input-name"><i class="fa fa-tag"></i> 名称</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
    <div class="form-row">
        <label for="node-input-defaultHand"><i class="fa fa-hand-o-up"></i> 默认手型</label>
        <select id="node-input-defaultHand" style="width:70%;">
            <option value="left">左手</option>
            <option value="right">右手</option>
        </select>
    </div>
    <div class="form-tips">
        <b>提示:</b> 这个节点用于加载手部3D查看器到侧边栏，支持左右手模型切换。
    </div>
</script>